{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
  {{ navbar('/') }}


<h1 class="text-center">Bienvenid@ a El Muro {{ user.name }}</h1>
<h2 class="text-center">Una p&aacute;gina para nada cl&oacute;nica de otra red social</h2>
<br>
<form action="/comentar" method="post">
  <label for="comentarios">Comentarios:</label>
  <textarea class="form-control" rows="5" id="comentarios" name="comentarios"></textarea>
  <div class="clearfix pt-1">
    <button class="float-end btn m-azul text-white" action="submit">Publicar un mensaje</button>
  </div>
</form>

{% for message in messages %}
<div class="pt-5">
  Mensaje de {{ message.name }} <br>
  <div class="cajaMensaje">
    <p>{{ message.message }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}