{% extends 'layout.html' %}

{% block main %}

<div class="form-control mt-5 row">
    <form class="col-6 offset-3" action="/create_appointment" method="post">
        <div class="row">
            <div class="col-6">
                <label for="date">Date:&nbsp; </label><input type="date" name="date" id="date" min="2022-03-28" required>
            </div>
            <div class="col-6">
                <label for="time">Time: </label>
                <select id="time" name="time" required>
                    {% for i in [8,9,10,11,12,13,14,15,16] %}
                        <option value="{{ i }}:00">{{ i }}:00</option>
                        <option value="{{ i }}:30">{{ i }}:30</option>
                    {% endfor %}
                    <option value="17:00">17:00</option>
                </select>
            </div>
            <label for="complain">Complain: </label>
            <textarea id="complain" name="complain" rows="5"></textarea>
            <div class="row justify-content-end mt-2 mb-2">
                <div class="col-4">
                    <div class="clearfix">
                        <span class="float-end"><a href="#" class="btn btn-danger">Cancel</a></span>
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Add appointment</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}