<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}{% endblock %}
    <title>Doctor Appointments</title>
</head>
<body>
    <div class="container">
      {% for error in errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% for notice in notices %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Processed!</strong> {{ notice }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    {% block main %}
      <h2>Esto no debería verse</h2>
    {% endblock %}
    </div>
    <script src="./js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>